
#mohoo-settings {
    padding: 30px;
}

#mohoo-settings .h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.7rem;
}

/*#mohoo-settings .h2 {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    margin-top: 1.5rem;*/
/*}*/

#mohoo-settings .text-input {
    width: 288px;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
}

#mohoo-settings .text-input input {
    flex-grow: 1;
    width: auto;
}

#mohoo-settings .text-input .label-logo {
    flex-grow: 1;
    display: flex;
    padding-bottom: 0.5rem;
    flex-direction: row;
    width: auto;
}
#mohoo-settings .text-input .label-logo img {
    width: 30px;
}
